
<% if @profile.errors.any? %>
  <ul>
    <% @profile.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @profile) do |f| %>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div>
    <%= f.label :social_name %>
    <%= f.text_field :social_name %>
  </div>
  <div>
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date %>
  </div>  
  <div>
    <%= f.label :education %>
    <%= f.text_field :education %>
  </div>
  <div>
    <%= f.label :skills %>
    <%= f.text_field :skills %>
  </div>
  <div>
    <%= f.label :employment_history %>
    <%= f.text_area :employment_history %>
  </div>
  <div>    
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div> 
  <br> 
  <%= f.submit 'Enviar' %>  
<% end %>