
<section>
  <h2>Projetos em aberto</h2>

  <% if @projects && @projects.empty? %>
    <div><span>Nenhum projeto disponível</span></div>
  <% else %>
    <div>      
      <%= form_with url: "/projects/search_projects" do |form| %>
        <%= form.label :search, "Pesquisar projetos" %>
        <%= form.text_field :search %>
        <%= form.submit "Buscar" %>
      <% end %>         	
  	</div>    
	  <%= render '/layouts/project_card' %>		
  <% end %>
</section>