
<% if @project.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @project.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @project) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :requirements %>
    <%= f.text_field :requirements %>
  </div>  
  <div class="form-group" >
    <%= f.label :hourly_rate %>
    <%= f.text_field :hourly_rate %>
  </div>
  <div class="form-group">
    <%= f.label :expiration_date %>
    <%= f.date_field :expiration_date %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>
  <div class="field">
    <%= f.check_box :require_presential_meetings %>
    <%= f.label :require_presential_meetings %>
  </div>  
  <%= f.submit 'Enviar' %>  
<% end %>