<div class='card'>
    <h1>Projeto: <%= @project.title %> </h2>
    <br>
     <h2><%= @project.description %></h2>
    <div class='card'>   
        <p>Tecnologias Requeridas: <strong><%= @project.requirements %></strong></p>
        <p>Remuneração por hora: <strong><%= number_to_currency(@project.hourly_rate) %></strong></p>  
        <p>Requer atuação presencial:
            <% if @project.require_presential_meetings? %>
                <strong>Sim</strong>
            <% else %>
                <strong>Não</strong>
            <% end %>        
        </p>
        <p>Validade da Proposta: <strong><%= I18n.l(@project.expiration_date) %></strong></p>
        <p>Previsão de início: <strong><%= I18n.l(@project.start_date) %></strong></p>
        <p>Previsão de entrega: <strong><%= I18n.l(@project.end_date) %></strong></p>
    </div>
    <br>
    <% if current_manager && current_manager.eql?(@project.manager) %>    
        <%= render 'card_proposals' %>
    <% else current_developer %>
        <%= render 'form_proposal' %>
    <% end %>
    <br>
    <%= link_to 'Voltar', root_path %>
</div>