<div class='card'>
    <h2> <% current_developer.email %></h2>
    <br>
     <h3><%= @proposal.project.description %></h3>
    <div class='card'> 
    	<h2>Proposta de: <%= current_developer.profile.social_name %></h2>  
        <p>Motivação: <strong><%= @proposal.motivation %></strong></p>
        <p>Remuneração por hora: 
        	<strong><%= number_to_currency(@proposal.hourly_rate) %></strong></p>  
        <p>Horas disponíveis por semana:
            <strong><%= @proposal.weekly_available_hours %></strong></p>
        <p>Previsão de conclusão: 
            <strong><%= I18n.l(@proposal.expected_completion) %></strong></p>
        <p>Status: <strong><%= I18n.t(@proposal.status) %></strong></p>
        <br>
        
    </div> 
        <% if @proposal.accepted?  && Date.today < @proposal.updated_at.to_date + 4.days  %>
            <p>Você tem até 
                <strong><%= I18n.l(@proposal.updated_at.to_date + 4.days) %>                
                </strong> para cancelar!
            </p>
            <div id="cancel">
                <%= render 'proposals/canceled_message_form' %>                    
            </div>
        <% elsif @proposal.canceled? || @proposal.rejected? %>
            <p>Mensagem: <strong><%= @proposal.justification %></strong></p>
        <% else @proposal.valid? && @proposal.pending? %>
            <li><%= link_to 'Excluir proposta', @proposal, method: :delete, 
                data: { confirm: 'Essa ação não pode ser desfeita, tem certeza?' }  %></li>
        <% end %> 
    <br>    
</div>