<div class='card'>
    <h2><%= @proposal.project.title %> , <% current_developer.email %></h2>
    <br>
     <h3><%= @proposal.project.description %></h3>
    <div class='card'> 
    	<h2>Proposta: </h2>  
        <p>Motivação: <strong><%= @proposal.motivation %></strong></p>
        <p>Remuneração por hora: 
        	<strong><%= number_to_currency(@proposal.hourly_rate) %></strong></p>  
        <p>Horas disponíveis por semana:
            <strong><%= @proposal.weekly_available_hours %></strong></p>
        <p>Previsão de conclusão: <strong><%= I18n.l(@proposal.expected_completion) %></strong></p>
        <p>Status: <strong><%= I18n.t(@proposal.status) %></strong></p>
    </div>    
    <br>    
</div>