 <nav>
    <% if manager_signed_in? %>
        <ul>
            <li><%= link_to 'Meus Projetos', root_path %></li>
            <li><%= link_to 'Cadastrar Projeto', root_path %></li>
            <li><%= current_manager.email %></li>
            <li><%= link_to 'Logout', destroy_manager_session_path, method: :delete %></li>
        </ul>        
    <% else %>
        <p><%= link_to 'Entrar como Gestor', new_manager_session_path %></p>
        <p><%= link_to 'Entrar como Desenvolvedor', root_path %></p>
    <% end %>
</nav>