<% @projects.each do |p| %>
    <div class="column" >
        <div class="card">
            <div class="form-group">
                <h2>Título: <span class="badge badge-secondary"><%=  link_to( p.title , project_path(p.id) )%></span></h2>
                <p> Descrição do projeto: <%=  p.description %> </p>    
                <p> Tecnologias requeridas: <%=  p.requirements %> </p>    
                <p> Remuneração por hora: <%=  number_to_currency(p.hourly_rate) %> </p> 
                <p> Validade da Proposta: <%=  I18n.l(p.expiration_date) %></p>
            </div>
        </div>
    </div>        
<% end %>