<% @profiles.each do |p| %>
    <div class="column">
        <div class="card">
            <div>
                <%= image_tag(p.avatar style: "width: 50px; height: 50px;") %>
            </div>
            <div class="card">
                <p> Nome Social: <%=  link_to( p.social_name , profile_path(p.id) )%></p>
                <p> Conhecimentos técnicos: <%=  p.skills %>    
                <p> Experiência Profissional: <%=  p.employment_history %>    
                <p> Data de nascimento: <%=  I18n.l(p.expiration_date) %>
            </div>
        </div>
    </div>        
<% end %>