<!DOCTYPE html>
<html>
  <head>
    <title>Framefreelaworks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>          
    <% end %> 
    <% if notice %>
      <div class="alert alert-primary"><%= notice %></div>          
    <% end %>
    <div style="height: 150%!important;background-image: url('<%= image_path('login_bg2.jpeg') %>'); background-size: cover">              
        <div class="p-2 p-sm-2">
          <div class="d-flex justify-content-center align-items-center pb-2 mb-2">
            <%= image_tag('logo', style: 'height: 90px;') %>
          </div>
          <%= yield %>                           
        </div>        
      </div> 
    </div>
  </body>
</html>
